* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    ;
}

header {
    background-color: #fceef1;
    height: 550px;
}

/* shared styles */

.primary-p {
    font-size: 18px;
    color: #7d7d7d;
}

.primary-btn {
    background-color: #e55473;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.primary-h2{
    font-size: 21px;
    font-weight: 800;
}

.hero {
    display: flex;
    gap: 20px;
    width: 950px;
    margin: 0 auto;
}

.hero-left {
    margin-top: 135px;
}

.hero-left>h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 25px;
}

.hero-left>p {
    margin-bottom: 25px;
}

.hero-right>img {
    width: 400px;
    padding-top: 46px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.featured{
    width: 950px;
    margin: 80px auto;
}

.featured-flower-images{
    display: flex;
    margin-top: 50px;
}