* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    ;
}

header {
    background-color: #fceef1;
    height: 550px;
}

/* shared styles */

.primary-p {
    font-size: 18px;
    color: #7d7d7d;
}

.primary-btn {
    background-color: #e55473;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.primary-h2{
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 20px;
}

.icons-caption{
    color: #505050;
    font-weight: 600;
    font-size: 14px;
}

.hero {
    display: flex;
    gap: 20px;
    width: 950px;
    margin: 0 auto;
}

.hero-left {
    margin-top: 135px;
}

.hero-left>h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 25px;
}

.hero-left>p {
    margin-bottom: 25px;
}

.hero-right>img {
    width: 400px;
    padding-top: 46px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.featured{
    width: 950px;
    margin: 80px auto;
}

.featured-flower-images{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.pink-1{
    display: flex;
    justify-content: center;
    background-color: #f2dee7;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    position: relative;
}

.pink-1 > img{
    width: 75%;
    position: absolute;
    bottom: 0;
}

.pink-2{
    background-color: #d9eff1;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pink-2 > img{
    width: 85%;
    position: absolute;
}

.pink-3{
    background-color: #e3ebdb;
    width: 300px;
    height: 380px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.pink-3 > img{
    width: 75%;
    position: absolute;
    bottom: 0;
}

.icons{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 90px;
    width: 950px;
    background-color: #f4f4f4;
    margin: 70px auto;
}

.icons img{
    width: 60px;
    margin-bottom: 15px;
}

.hot-deal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
    background-color: #fef6f8;
    padding: 50px 0;
}

.hot-deal-left p{
    margin-bottom: 20px;
}

.hot-deal-right > img{
    width: 200px;
}

.instagram{
    width: 950px;
    margin: 70px auto;
    text-align: center;
}

.insta-left p{
    margin-bottom: 40px;
}

.insta-right{
    display: flex;
    gap: 10px;
}

.insta-right img{
    width: 230px;
}